In [21]:
import pandas as pd

In [64]:
df = pd.read_csv('FRZ.csv')

In [65]:
#frozen boneless meat

df.groupby('Partner')

,Partner,Unnamed: 1,HS Code,Product,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Period/Period % Change (Value),Reporter Code,Partner Code,Product Code,Unnamed: 18
0,"Korea, South",1.0,203294000.0,"SWN MT, FRZ","356,510","276,723","374,783","535,624","461,657","347,770","413,250","474,554","520,343","624,501",20,US,KS,203294000.0,NaN
1,"Korea, South",2.0,203292000.0,"SWN MT,NE,PRC,FZ","32,996","21,084","28,163","24,916","29,832","16,341","11,058","14,321","14,720","11,733",-20,US,KS,203292000.0,NaN
2,"Korea, South",3.0,203229000.0,"HM/SH,X PRC,FRZ","14,011","6,487","3,580","8,096","6,542","7,151","19,095","9,967","3,965","4,262",7,US,KS,203229000.0,NaN
3,"Korea, South",4.0,203210000.0,"SWN CARC,FZ",197,0,11,13,547,6,355,759,526,238,-55,US,KS,203210000.0,NaN
4,"Korea, South",5.0,203221000.0,"HM,SH,PRC,FZ",110,991,850,"6,121","3,656","1,458",571,198,231,26,-89,US,KS,203221000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,British Pacific Islands(*),1.0,203229000.0,"HM/SH,X PRC,FRZ",0,0,0,0,0,0,0,0,75,0,NaN,US,Z6,203229000.0,NaN
449,British Pacific Islands(*),2.0,203292000.0,"SWN MT,NE,PRC,FZ",10,0,10,3,16,15,6,0,0,0,NaN,US,Z6,203292000.0,NaN
450,British Pacific Islands(*),3.0,203294000.0,"SWN MT, FRZ",4,0,48,23,23,19,7,0,0,0,NaN,US,Z6,203294000.0,NaN
451,Zambia,1.0,203294000.0,"SWN MT, FRZ",0,102,0,0,0,0,0,0,0,0,NaN,US,ZA,203294000.0,NaN
452,Grand Total,NaN,NaN,NaN,"1,973,810","1,951,244","2,130,690","2,313,100","2,966,995","3,673,584","3,134,059","2,520,994","2,929,513","3,325,851",14,NaN,NaN,NaN,NaN

In [69]:
years = [str(y) for y in range(2015, 2025)]
df[years] = df[years].replace(',', '', regex=True).astype(float)

frozen_pork = df[df['HS Code'].astype(str).str.startswith('2032')]

global_totals = frozen_pork[years].sum()

market_share = (
    frozen_pork.groupby('Partner')[years].sum()  # Sum exports by country
    .div(global_totals, axis='columns') * 100    # Divide by yearly global totals
)

market_share = market_share.round(1)

top_10 = market_share['2024'].sort_values(ascending=False).head(10).index
market_share_top = market_share.loc[top_10]

market_share_top

                    2015  2016  2017  2018  2019  2020  2021  2022  2023  2024
Partner
Korea, South        20.5  15.6  19.1  24.8  16.9  10.1  14.2  19.8  18.4  19.3
Japan               29.5  24.7  23.7  22.4  15.7  13.1  13.8  13.0  15.5  16.1
China                8.7  16.9  11.1   8.6  28.6  44.8  28.2  20.7  13.1  10.3
Colombia             3.7   4.2   6.7   8.4   6.4   3.5   7.6   8.9   8.4   9.9
Australia(*)         6.9   7.4   8.1   7.9   8.8   6.0   5.4   4.0   7.4   8.8
Dominican Republic   2.3   2.4   2.8   3.2   2.1   2.2   4.4   8.4   8.2   7.3
Mexico               9.3   9.0   7.5   5.7   4.4   3.5   4.5   6.1   6.4   6.3
Honduras             2.0   2.3   2.4   2.3   2.1   1.9   3.4   3.9   4.0   4.1
Guatemala            1.1   1.3   1.3   1.3   1.1   0.9   2.0   1.9   2.4   2.3
Nicaragua            0.3   0.5   0.6   0.6   0.6   0.6   1.0   1.1   1.3   1.7

In [70]:
df_of = pd.read_csv('frz_of.csv')

In [72]:
years = [str(y) for y in range(2015, 2025)]
df_of[years] = df_of[years].replace(',', '', regex=True).astype(float)

frozen_of = df_of[df_of['HS Code'].astype(str).str.startswith('2064')]

global_totals_of = frozen_of[years].sum()

market_share_of = (
    frozen_of.groupby('Partner')[years].sum()  
    .div(global_totals_of, axis='columns') * 100   
)

market_share_of = market_share_of.round(1)

top_10_of = market_share_of['2024'].sort_values(ascending=False).head(10).index
market_share_top_of = market_share_of.loc[top_10]

market_share_top_of

                    2015  2016  2017  2018  2019  2020  2021  2022  2023  2024
Partner
Korea, South         3.6   1.9   2.1   4.2   2.6   1.7   1.7   1.5   1.0   1.4
Japan                4.0   3.1   3.5   5.7   4.3   2.2   2.3   3.5   1.9   1.9
China               28.0  33.7  31.1  22.0  43.5  67.1  75.7  79.7  78.4  72.7
Colombia             0.6   0.6   0.9   0.5   0.9   1.4   0.8   1.4   1.1   0.8
Australia(*)         0.0   0.0   0.0   0.1   0.2   0.0   0.3   0.0   0.1   0.2
Dominican Republic   0.1   0.2   0.1   0.2   0.4   0.1   0.2   0.4   0.8   0.7
Mexico              21.8  19.7  16.4  16.8  16.5  10.6   9.3   6.7   8.7  10.2
Honduras             0.1   0.1   0.1   0.3   0.4   0.3   0.4   0.4   0.4   0.5
Guatemala            0.2   0.2   0.1   0.5   0.8   0.6   0.5   0.7   0.3   0.4
Nicaragua            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

In [73]:
df_fresh = pd.read_csv('fresh.csv')

In [74]:
years = [str(y) for y in range(2015, 2025)]
df_fresh[years] = df_fresh[years].replace(',', '', regex=True).astype(float)

fresh_of = df_fresh[df_fresh['HS Code'].astype(str).str.startswith('2031')]

global_totals_fresh = fresh_of[years].sum()

market_share_fresh = (
    fresh_of.groupby('Partner')[years].sum()  
    .div(global_totals_fresh, axis='columns') * 100   
)

market_share_fresh = market_share_fresh.round(1)

top_10_fresh = market_share_fresh['2024'].sort_values(ascending=False).head(10).index
market_share_top_fresh = market_share_fresh.loc[top_10]

market_share_top_fresh

                    2015  2016  2017  2018  2019  2020  2021  2022  2023  2024
Partner
Korea, South         1.2   0.9   0.7   0.9   1.2   1.3   2.3   2.2   1.9   1.6
Japan               44.1  44.2  42.4  44.8  43.6  44.2  37.8  30.8  26.1  21.8
China                0.1   0.0   0.0   0.0   0.1   0.1   0.0   0.0   0.1   0.1
Colombia             0.6   0.4   0.1   0.2   0.6   0.2   0.2   0.1   0.2   0.4
Australia(*)         0.1   0.3   0.0   0.0   0.2   0.2   0.0   0.0   0.0   0.0
Dominican Republic   0.0   0.0   0.1   0.3   0.1   0.2   0.2   0.3   0.5   0.5
Mexico              35.9  37.6  41.0  38.4  37.3  34.1  42.9  53.6  57.1  61.8
Honduras             0.1   0.1   0.0   0.1   0.0   0.0   0.0   0.0   0.0   0.0
Guatemala            0.3   0.2   0.3   0.2   0.2   0.2   0.2   0.3   0.2   0.3
Nicaragua            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0