In [36]:
import pandas as pd

In [53]:
df = pd.read_csv('us_exports.csv')

In [55]:
df

,Partner,Unnamed: 1,Product,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Mexico,1.0,"Pork, Fr/Ch/Fz",922387.0,1020124.0,1154068.0,1005813.0,966811.0,913713.0,1346440.0,1700763.0,1946612.0,2173530.0
1,Japan,1.0,"Pork, Fr/Ch/Fz",1487611.0,1475405.0,1534174.0,1537099.0,1440658.0,1499221.0,1494058.0,1217911.0,1258956.0,1230127.0
2,"Korea, South",1.0,"Pork, Fr/Ch/Fz",428947.0,324985.0,423620.0,595202.0,528972.0,402728.0,507847.0,562999.0,598027.0,692700.0
3,Canada,1.0,"Pork, Fr/Ch/Fz",374563.0,380985.0,379017.0,339666.0,385960.0,481040.0,485180.0,389066.0,446944.0,430545.0
4,China,1.0,"Pork, Fr/Ch/Fz",173358.0,329805.0,237191.0,199088.0,853118.0,1647814.0,884787.0,521838.0,386267.0,346575.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,"Africa, not elsewhere specified(*)",1.0,"Pork, Fr/Ch/Fz",27.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,0.0,0.0
142,French West Indies(*),1.0,"Pork, Fr/Ch/Fz",0.0,35.0,21.0,0.0,0.0,0.0,0.0,6.0,3.0,0.0
143,British Pacific Islands(*),1.0,"Pork, Fr/Ch/Fz",14.0,0.0,58.0,27.0,39.0,38.0,13.0,0.0,75.0,0.0
144,Zambia,1.0,"Pork, Fr/Ch/Fz",0.0,102.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0
145,Grand Total,NaN,NaN,4029593.0,4198982.0,4558394.0,4589849.0,5204063.0,5976589.0,5941770.0,5408546.0,6013503.0,6504600.0

In [54]:
years = [str(y) for y in range(2015, 2025)]
df[years] = df[years].replace(',', '', regex=True).astype(float)


# Sum export values by country (skip market share calculation)
country_totals = df.groupby('Partner')[years].sum().round(1)  # Round to 1 decimal

# Get top 10 countries by 2024 exports
top_10 = country_totals['2024'].sort_values(ascending=False).head(10).index
country_totals_top = country_totals.loc[top_10]

                         2015       2016       2017       2018       2019  \
Partner
Grand Total         4029593.0  4198982.0  4558394.0  4589849.0  5204063.0
Mexico               922387.0  1020124.0  1154068.0  1005813.0   966811.0
Japan               1487611.0  1475405.0  1534174.0  1537099.0  1440658.0
Korea, South         428947.0   324985.0   423620.0   595202.0   528972.0
Canada               374563.0   380985.0   379017.0   339666.0   385960.0
China                173358.0   329805.0   237191.0   199088.0   853118.0
Colombia              85505.0    89969.0   143341.0   199503.0   203085.0
Australia(*)         140173.0   150038.0   173761.0   184080.0   265633.0
Dominican Republic    46431.0    47571.0    61221.0    79585.0    65796.0
Honduras              40982.0    45548.0    51884.0    54506.0    62236.0

                         2020       2021       2022       2023       2024
Partner
Grand Total         5976589.0  5941770.0  5408546.0  6013503.0  6504600.0
Mexico               913713.0  1346440.0  1700763.0  1946612.0  2173530.0
Japan               1499221.0  1494058.0  1217911.0  1258956.0  1230127.0
Korea, South         402728.0   507847.0   562999.0   598027.0   692700.0
Canada               481040.0   485180.0   389066.0   446944.0   430545.0
China               1647814.0   884787.0   521838.0   386267.0   346575.0
Colombia             132034.0   243851.0   226542.0   251713.0   339783.0
Australia(*)         225185.0   169887.0   101358.0   216360.0   292488.0
Dominican Republic    85745.0   142648.0   220889.0   257406.0   259866.0
Honduras              70022.0   108331.0    99620.0   118480.0   136827.0

In [56]:
country_totals_top

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Partner,,,,,,,,,,
Grand Total,4029593.0,4198982.0,4558394.0,4589849.0,5204063.0,5976589.0,5941770.0,5408546.0,6013503.0,6504600.0
Mexico,922387.0,1020124.0,1154068.0,1005813.0,966811.0,913713.0,1346440.0,1700763.0,1946612.0,2173530.0
Japan,1487611.0,1475405.0,1534174.0,1537099.0,1440658.0,1499221.0,1494058.0,1217911.0,1258956.0,1230127.0
"Korea, South",428947.0,324985.0,423620.0,595202.0,528972.0,402728.0,507847.0,562999.0,598027.0,692700.0
Canada,374563.0,380985.0,379017.0,339666.0,385960.0,481040.0,485180.0,389066.0,446944.0,430545.0
China,173358.0,329805.0,237191.0,199088.0,853118.0,1647814.0,884787.0,521838.0,386267.0,346575.0
Colombia,85505.0,89969.0,143341.0,199503.0,203085.0,132034.0,243851.0,226542.0,251713.0,339783.0
Australia(*),140173.0,150038.0,173761.0,184080.0,265633.0,225185.0,169887.0,101358.0,216360.0,292488.0
Dominican Republic,46431.0,47571.0,61221.0,79585.0,65796.0,85745.0,142648.0,220889.0,257406.0,259866.0
Honduras,40982.0,45548.0,51884.0,54506.0,62236.0,70022.0,108331.0,99620.0,118480.0,136827.0

In [58]:
share_df = (country_totals_top.div(country_totals_top.loc['Grand Total']) * 100).round(2)

# Remove the Grand Total row (now 100% everywhere)
share_df = share_df.drop('Grand Total')

# Add a "Others" row (100% - sum of shown partners)
shown_partners_sum = share_df.sum()
share_df.loc['Others'] = 100 - shown_partners_sum

share_df.loc['Grand Total (USD)'] = country_totals_top.loc['Grand Total']

In [59]:
share_df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Partner,,,,,,,,,,
Mexico,22.89,24.29,25.32,21.91,18.58,15.29,22.66,31.45,32.37,33.42
Japan,36.92,35.14,33.66,33.49,27.68,25.08,25.14,22.52,20.94,18.91
"Korea, South",10.64,7.74,9.29,12.97,10.16,6.74,8.55,10.41,9.94,10.65
Canada,9.30,9.07,8.31,7.40,7.42,8.05,8.17,7.19,7.43,6.62
China,4.30,7.85,5.20,4.34,16.39,27.57,14.89,9.65,6.42,5.33
Colombia,2.12,2.14,3.14,4.35,3.90,2.21,4.10,4.19,4.19,5.22
Australia(*),3.48,3.57,3.81,4.01,5.10,3.77,2.86,1.87,3.60,4.50
Dominican Republic,1.15,1.13,1.34,1.73,1.26,1.43,2.40,4.08,4.28,4.00
Honduras,1.02,1.08,1.14,1.19,1.20,1.17,1.82,1.84,1.97,2.10
Others,8.18,7.99,8.79,8.61,8.31,8.69,9.41,6.80,8.86,9.25
Grand Total (USD),4029593.00,4198982.00,4558394.00,4589849.00,5204063.00,5976589.00,5941770.00,5408546.00,6013503.00,6504600.00

In [61]:
of = pd.read_csv('offals_us.csv')

In [62]:
years = [str(y) for y in range(2015, 2025)]
of[years] = of[years].replace(',', '', regex=True).astype(float)


# Sum export values by country (skip market share calculation)
of_totals = of.groupby('Partner')[years].sum().round(1)  # Round to 1 decimal

of_totals_top = of_totals.loc[top_10]

In [65]:
of_totals_top

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Partner,,,,,,,,,,
Grand Total,0.0,792938.0,885820.0,669639.0,640913.0,739279.0,957871.0,1009856.0,1080677.0,1038134.0
Mexico,0.0,187676.0,191422.0,152033.0,148532.0,123093.0,172612.0,167518.0,220348.0,214471.0
Japan,0.0,23330.0,28546.0,34028.0,24578.0,15549.0,19744.0,32195.0,18376.0,16455.0
"Korea, South",0.0,13875.0,18120.0,26262.0,17067.0,11844.0,15894.0,16923.0,14033.0,16698.0
Canada,0.0,14373.0,18702.0,17391.0,18173.0,19500.0,22386.0,20020.0,22791.0,25902.0
China,0.0,245187.0,250947.0,130794.0,243093.0,446388.0,639544.0,697298.0,710188.0,646642.0
Colombia,0.0,4609.0,7325.0,3428.0,5120.0,9493.0,8513.0,13823.0,11905.0,7927.0
Australia(*),0.0,313.0,54.0,777.0,980.0,293.0,2310.0,0.0,1033.0,1929.0
Dominican Republic,0.0,1447.0,1184.0,1403.0,2187.0,755.0,1322.0,3703.0,7296.0,6162.0
Honduras,0.0,660.0,614.0,2063.0,2370.0,2100.0,3596.0,3420.0,3748.0,4768.0

In [67]:
share_df = (of_totals_top.div(of_totals_top.loc['Grand Total']) * 100).round(2)

# 2. Remove Grand Total row (now redundant as it would be 100%)
share_df = share_df.drop('Grand Total')

# 3. Add "Others" row (100% - sum of displayed partners)
share_df.loc['Others'] = 100 - share_df.sum()



# 5. (Optional) Add original USD totals as reference
share_df.loc['Grand Total (USD)'] = of_totals_top.loc['Grand Total']

In [68]:
share_df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Partner,,,,,,,,,,
Mexico,NaN,23.67,21.61,22.70,23.18,16.65,18.02,16.59,20.39,20.66
Japan,NaN,2.94,3.22,5.08,3.83,2.10,2.06,3.19,1.70,1.59
"Korea, South",NaN,1.75,2.05,3.92,2.66,1.60,1.66,1.68,1.30,1.61
Canada,NaN,1.81,2.11,2.60,2.84,2.64,2.34,1.98,2.11,2.50
China,NaN,30.92,28.33,19.53,37.93,60.38,66.77,69.05,65.72,62.29
Colombia,NaN,0.58,0.83,0.51,0.80,1.28,0.89,1.37,1.10,0.76
Australia(*),NaN,0.04,0.01,0.12,0.15,0.04,0.24,0.00,0.10,0.19
Dominican Republic,NaN,0.18,0.13,0.21,0.34,0.10,0.14,0.37,0.68,0.59
Honduras,NaN,0.08,0.07,0.31,0.37,0.28,0.38,0.34,0.35,0.46
Others,100.0,38.03,41.64,45.02,27.90,14.93,7.50,5.43,6.55,9.35
Grand Total (USD),0.0,792938.00,885820.00,669639.00,640913.00,739279.00,957871.00,1009856.00,1080677.00,1038134.00

In [69]:
share_df = share_df.drop(columns='2015')

share_df

,2016,2017,2018,2019,2020,2021,2022,2023,2024
Partner,,,,,,,,,
Mexico,23.67,21.61,22.70,23.18,16.65,18.02,16.59,20.39,20.66
Japan,2.94,3.22,5.08,3.83,2.10,2.06,3.19,1.70,1.59
"Korea, South",1.75,2.05,3.92,2.66,1.60,1.66,1.68,1.30,1.61
Canada,1.81,2.11,2.60,2.84,2.64,2.34,1.98,2.11,2.50
China,30.92,28.33,19.53,37.93,60.38,66.77,69.05,65.72,62.29
Colombia,0.58,0.83,0.51,0.80,1.28,0.89,1.37,1.10,0.76
Australia(*),0.04,0.01,0.12,0.15,0.04,0.24,0.00,0.10,0.19
Dominican Republic,0.18,0.13,0.21,0.34,0.10,0.14,0.37,0.68,0.59
Honduras,0.08,0.07,0.31,0.37,0.28,0.38,0.34,0.35,0.46
Others,38.03,41.64,45.02,27.90,14.93,7.50,5.43,6.55,9.35
Grand Total (USD),792938.00,885820.00,669639.00,640913.00,739279.00,957871.00,1009856.00,1080677.00,1038134.00